html,body{
  height: auto;
  margin: 0;
}
.footer {
  background: black;
  
  color: white;
  text-align: center;
  padding: 10px;
 
}

.social-icons {
  margin: 10px 0;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #00adb5;
}