
.footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  color: white;
}

.social-icons {
  margin: 10px 0;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #00adb5;
}